<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI PRIMER MVT</title>
</head>
<body>
    
    {% for i in familiares %}
        <br><li><label for={{i.nombre}}>Nombre: </label>{{i.nombre}}</li>
        <li><label for={{i.apellido}}>Apellido: </label>{{i.apellido}}</li>
        <li><label for={{i.edad}}>Edad: </label>{{i.edad}}</li>
        
    {% endfor %}
</body>
</html>